.footer {
  margin-top: 80px;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerLogo img {
  width: 250px; /* Adjust the width of your logo */
  height: auto;
}

.footerLogo h1 {
  font-size: 1.5rem;
  margin-left: 50px;
}

.footerLinks ul {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  list-style: none;
}

.footerLinks li {
  display: inline-block;
  margin-right: 20px;
}

.footerLinks a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footerContact p {
  margin-bottom: 10px;
}

.footerBottom {
  margin-top: 20px;
  text-align: center;
}
