.textInput {
  width: 350px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: justify;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.textInput[type="submit"] {
  width: 350px;
  background-color: rgb(48, 48, 198);
  border: none;
  color: #ccc;
  text-align: center;
}
