.option {
  display: block;
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.radioInput[type="radio"] {
  margin-right: 10px;
}
